/* DARK MODE  */
:root {
    --primary-color: peachpuff;
    --beta-color: papayawhip;
    --shadow-color: #dcb9ff;
    --font-color: black;
    --font-other: white;
    --border-color: black;
    --bg-color: #fff;
    --input-focus: rgba(10, 10, 10, 0.2);
    --input-placeholder: grey;
    --title-content: "HOT DOGS";
    --subtitle-content: "The cuddliest place on the web";
    --em-content: "switch to dark mode!";
}

[data-theme="dark"] {
    --primary-color: #333333;
    --beta-color: #818cab;
    --shadow-color: peachpuff;
    --font-color: peachpuff;
    --font-other: black;
    --border-color: peachpuff;
    --bg-color: #333333;
    --input-focus: rgba(255, 255, 255, 0);
    --input-placeholder: #fff;
    --title-content: "COOL BOYS";
    --subtitle-content: "Who likes to party? ";
    --em-content: "switch to light mode!";
}
#main {
    background-color: var(--bg-color);
}
header {
    background-color: var(--bg-color);
}
body {
    background-color: var(--bg-color);
}

.theme-switch-wrapper {
    margin: auto;
    justify-self: end;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    align-items: center;

    em {
        margin-left: 10px;
    }
}

em::before {
    content: var(--em-content);
}
.theme-switch {
    display: inline-block;
    height: 40px;
    position: relative;
    min-width: 70px;
}

#checkbox {
    display: none;
}

.slider {
    position: absolute;
    background-color: #ccc;
    cursor: pointer;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: 0.4s;
}

.slider:before {
    background-color: #fff;
    bottom: 5px;
    content: "";
    height: 30px;
    left: 4px;
    position: absolute;
    transition: 0.4s;
    width: 30px;
}

#checkbox:checked + .slider {
    background-color: peachpuff;
}

input:checked + .slider:before {
    transform: translateX(33px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
