/* SNAPPED BROWSER  */
@media screen and (max-width: 780px) {
    /* MAIN */
    * {
        font-size: 18px;
    }
    body {
        max-width: 100vw;
    }
    header {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 90%;
        margin: 20px auto;
    }
    header h1 {
        margin: 20px auto;
    }
    header h3 {
        width: 70%;
        margin: 20px auto;
        line-height: 40px;
    }
    .main_form {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 500px;
        margin: 20px 40px;
        height: 120px;
    }

    /* MODAL */
    .popup {
        min-width: 550px;
        max-width: 750px;
        top: 5vh;
        left: 5vw;
        bottom: 5vh;
        right: 5vw;
    }
    .modal_h1,
    .modal_h2 {
        font-size: 1rem;
    }
    .popup h3,
    input,
    textarea {
        font-size: 0.8rem;
    }
    /* LEFT SIDE  */
    #modal_image {
        width: 200px;
        height: 200px;
        margin: 5px 10px;
    }

    /* RIGHT SIDE  */

    .comments_box form {
        margin-top: 15px;
        margin-right: 100px;
    }

    .comments_box input,
    textarea {
        width: ;
    }
    .comment_scroll {
        height: auto;
        max-height: 300px;
        width: 80%;
    }
    .comment_scroll p {
        font-size: 0.7rem;
    }

    /* TOP RIGHT CORNER  */

    .close {
        position: absolute;
        cursor: pointer;
        top: 4%;
        right: 4%;
        font-size: 2em;
    }

    #comment_submit {
        position: absolute;
        top: 20%;
        right: 2%;
        font-size: 0.7rem;
    }

    /* NAVIGATION  */
    .move {
        visibility: hidden;
    }
    .move_image {
        visibility: hidden;
    }
    .shift {
        visibility: visible;
        width: 60px;
        height: 60px;
        background: var(--beta-color);
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: transform 0.2s;
    }
    .up {
        margin: 0 auto auto 50px;
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .up:hover {
        background-color: var(--input-placeholder);
        transform: translateY(-10px);
    }
    .up:active {
        background-color: var(--input-placeholder);
        transform: translateY(-10px);
    }
    #upwards {
        font-size: 2.5rem;
    }
    .down {
        margin: auto 50px 20px auto;
        grid-column: 2/3;
        grid-row: 2/3;
    }

    .down:hover {
        background-color: var(--input-placeholder);
        transform: translateY(10px);
    }
    .down:active {
        transform: translateY(10px);
        background-color: var(--input-placeholder);
    }
    #downwards {
        font-size: 2.5rem;
    }
}

/* large phone */
@media screen and (max-width: 600px) and (orientation: portrait) {
    .flex_row {
        flex-direction: column;
    }
    header {
    }
    .main_form {
        width: 400px;
    }
}

/* MEDIUM PHONE  */
@media screen and (max-width: 430px) and (orientation: portrait) {
    header h2 {
        align-self: center;
    }
    .main_form {
        display: block;
        width: 300px;
        height: 300px;
        max-height: 350px;
        margin: 20px auto;
    }
    .main_form input {
        width: 80%;
    }
    .main_form label {
        margin: 10px 20px;
        padding: 5px;
    }
    select {
        margin: 40px auto;
    }
    .flex_row {
        flex-wrap: nowrap;
    }
    /* MODAL  */
    .popup {
        min-width: 100%;
        min-height: 100%;

        top: 1vh;
        left: 1vw;
        bottom: 1vh;
        right: 2vw;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 80px;
        z-index: 100;
    }
}
