/* COMPONENT  */
.component {
    display: inline;
    position: relative;
    height: 100vh;
    width: 100vw;
    z-index: 98;
}
.popup {
    position: fixed;
    max-width: 750px;
    max-height: 700px;
    top: 5vh;
    left: 30%;
    border-radius: 8px;
    border-bottom-right-radius: 15px;
    background-color: var(--primary-color);
    box-shadow: 8px 8px 0px 1px var(--modal-shadow);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 80px;
    z-index: 100;
}

.overlay {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(23, 18, 19, 0.5);
}
.fixed {
    position: fixed;
}

/* LEFT SIDE  */

.modal_data {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}

.modal_h1 {
    margin: 10px 15px;
    font-size: 1.7rem;
    font-weight: bold;
}
.modal_h2 {
    font-size: 1.2rem;
    margin: 10px 15px;
    max-height: 80px;
    word-wrap: break-word;
}
.modal_description {
    font-size: 1rem;
    margin: 15px 15px 0px 15px;
    width: 90%;
    height: 70px;
    max-height: 80px;
    overflow-y: scroll;
    overflow: hidden;
}
#modal_image {
    width: 300px;
    height: 300px;
    margin: 10px 15px 10px 15px;
    border-radius: 8px;
    border: solid 3px grey;
    padding: 2px;
    object-fit: cover;
    cursor: auto;
}

.delete {
    color: black;
    margin: 20px 25%;
    height: 50px;
    width: 150px;
    border-radius: 10px;
    outline: none;
    font-weight: bold;
}

/* TOP RIGHT CORNER  */

.close {
    position: absolute;
    cursor: pointer;
    top: 15px;
    right: 45px;
    font-size: 2rem;
    transition: transform 0.3s;
}
.close:hover {
    transform: scale(1.4);
    color: #818cab;
}

.comments_box form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#comment_submit {
    position: absolute;
    top: 80px;
    right: 20px;
    color: black;
    font-weight: bold;
    border-radius: 5px;
    outline: none;
    transition: transform 0.2s;
}
#comment_submit:hover {
    transform: translateY(3px);
}
#comment_submit:active {
    background-color: var(--shadow-color);
}

/* COMMENTS SECTION  */

.listed_comments {
    margin-top: 20px;
    grid-column: 2 / span 1;
    border-bottom: 1px solid var(--border-color);
    width: 250px;
}
.comment_scroll {
    margin-top: 10px;
    height: 350px;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 90%;
}

.comments_box input,
textarea {
    margin: 10px 10px 5px 10px;
    width: 245px;
    padding: 4px;
}

textarea {
    outline: none;
    border: none;
    background: none;
    resize: vertical;
    min-height: 50px;
    max-height: 90px;
    border-bottom: 1px solid var(--border-color);
}

textarea:focus {
    background: var(--input-focus);
}

.comments_box p {
    margin: 10px auto;
    display: block;
}
.comment {
    word-wrap: break-word;
}

/* MOVE BUTTONS  */

.move {
    position: absolute;
    width: 160px;
    height: auto;
    margin: 0px 10px;
    top: 25vh;
    transition: transform 0.2s;
}

.left {
    left: -15vw;
}
.right {
    right: -15vw;
}
.go {
    width: 150px;
    height: auto;
    background: var(--primary-color);
    color: var(--font-color);
    border-radius: 10px;
    font-size: 1.1rem;
    padding: 10px;
    border-bottom: solid 2px var(--beta-color);
    margin-bottom: 15px;
}

/* NAVIGATION HOVER  */
.left:hover {
    transform: translateX(-20px);
}
.right:hover {
    transform: translateX(20px);
}

.left:hover .left_image {
    opacity: 0.5;
}
.right:hover .right_image {
    opacity: 0.5;
}

.left:hover #left {
    background: #e2c2a5;
    color: snow;
}
.right:hover #right {
    background: #e2c2a5;
    color: snow;
}

.move_image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-bottom: var(--beta-color) solid 3px;
    border-radius: 10px;
}

/* SCROLLBAR  */

*::-webkit-scrollbar {
    width: 5px;
    background-color: papayawhip;
}
*::-webkit-scrollbar-thumb {
    width: 6px;
    height: 55px;
    background-color: black;
}
