/* GENERIC  */
* {
    font-size: 20px;
    box-sizing: border-box;
    margin: 0;
    font-family: freight-sans-pro, sans-serif;
    font-style: normal;
    font-weight: 500;
    color: var(--font-color);
}

p {
    font-size: 0.7rem;
}

a {
    text-decoration: none;
}
button {
    cursor: pointer;
}

img {
    cursor: pointer;
}

/* HEADER  */
header {
    display: grid;
    grid-template-columns: 900px 1fr;
    grid-template-rows: repeat(70px, 4);
    margin: 25px;
}
header h1 {
    grid-column: 1 / 2;
    font-size: 3rem;
    margin-bottom: 0px;
}
header h1::before {
    content: var(--title-content);
}

header h3 {
    font-size: 1.4rem;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin-left: 10px;
    margin-bottom: 15px;
    letter-spacing: 10px;
}
header h3::before {
    content: var(--subtitle-content);
}
header h2 {
    grid-column: 1 / 2;
    grid-row: 4/ 5;
    font-size: 1.6rem;
    align-self: end;
    margin-top: 20px;
}

/* FORM  */

.main_form {
    grid-column: 1 / 3;
    grid-row: 3/ 4;
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    height: 40px;
    width: 90vw;
}

input[type="text"],
label {
    margin: auto 10px;
}

input[type="text"] {
    outline: none;
    border: none;
    border-bottom: 1px solid var(--border-color);
    background: none;
}

input::placeholder {
    color: var(--input-placeholder);
}
textarea::placeholder {
    color: var(--input-placeholder);
}
input[type="text"]:focus {
    background: var(--input-focus);
}

form label {
    position: relative;
    height: 30px;
    width: 140px;
    color: var(--font-other);
    background-color: var(--font-color);
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    transition: bottom ease 0.5s;
}

form label:hover {
    box-shadow: 0px 5px 3px var(--shadow-color);
    background-color: var(--beta-color);
    color: black;
    font-weight: bold;
    bottom: 4px;
}

form label:active {
    background-color: peachpuff;
    box-shadow: 0px 3px 5px #dcb9ff;
}

#file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.upload {
    cursor: pointer;
    margin: auto 20px;
    font-size: 1.9rem;
}
.upload:hover {
    color: peachpuff;
    border-bottom: 5px solid #dcb9ff;
    border-radius: 60px;
}
.upload:active {
    box-shadow: 0px 3px 6px var(--shadow-color);
}

select {
    color: var(--font-color);
    background: none;
    outline: none;
    justify-self: center;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    grid-column: 2 / 3;
    grid-row: 3/ 4;
}
option {
    background: var(--bg-color);
}

/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .flex_row {
        flex-direction: column;
    }
}
