<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <title>imageboard</title>
    <link rel="icon" href="/stuff/cowboy.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div id="main">
        <h1>{{heading}}</h1>
        <h2>Latest images: </h2>

        <first-component
        v-if="selectedFruit"
        post-title="My amazing article"
        :id="selectedFruit"
        @close="closeMe"></first-component>

        <p
        class="fruit"
        v-for="fruit in fruits"
        v-if="fruits.length"
        @click="selectedFruit = fruit.id">
        {{fruit.title}}
    </p>


        <form>
            <input type="text" v-model="title" name="title" placeholder="title">
            <input type="text" v-model="description" name="description" placeholder="description">
            <input type="text" v-model="username" name="username" placeholder="username">

            <input @change="handleChange" type="file" name="file" id="file" accept="image/*">
            <label for="file">select file</label>
            <button  @click="handleClick">submit</button>
        </form>

        <div class="flex_row">
            <div v-for="i in images" class="image_box">
                <!-- <li v-for="c in candy" v-on:click="c.name = 'puppies'">{{c.name}}</li> -->
                <img :src="i.url">
                <p class="title">{{i.title}}</p>
                <p class="description">{{i.description}}</p>
            </div>
        </div>
    </div> <!--end of #main vue div -->

    <script type="text/x-template" id="template">
        <div class="component">
            <h1 @click="closeModal">This is my first component</h1>
            <h2>my name is: {{name}}</h2>
            <button @click="count++">Click me</button> count: {{count}}
        </div>
    </script>
    <script src="/js/vue.js"></script>
    <script src="/js/axios.min.js"></script>
    <script src="/js/script.js"></script>
</body>
</html>
