<!doctype html>
<html>
<head>
    <title>imageboard</title>
</head>
<body>
    <div id="main">
        <h1 v-bind:class="className">{{heading}}</h1>
        <h1>Universal Truth: {{hotboi}}</h1>
        <a :href="url">click here</a><br><br>
        <ul v-if="candy">
            <!-- <li v-for="c in candy" v-on:click="c.name = 'puppies'">{{c.name}}</li> -->
            <li v-for="c in candy" @click="changeName(c.name)">{{c.name}}</li>
        </ul>
        <input v-model="greetee">
    </div>
    <script src="/js/vue.js"></script>
    <script src="/js/axios.min.js"></script>
    <script src="/js/script_practice.js">

    </script>
</body>
</html>
